:root {
  --clr-text: #5f5f5f;
  --clr-accent: #7849ff;
  --clr-menu-text: #e8eef2;
  --clr-bg: #33363c;
  --clr-fg: #fff;
  --clr-loss: #ff5353;
  --clr-selection-gain: #1be1af;
  --clr-text-secondary: #848484;
  --clr-nav-bg: #24222d;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-menu-text);
  line-height: 1.6;
}

p {
  margin-top: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-selection-gain);
}

.text-center {
  text-align: center;
}

