:root {
  --clr-text: #5f5f5f;
  --clr-accent: #7849ff;
  --clr-menu-text: #e8eef2;
  --clr-bg: #33363c;
  --clr-fg: #fff;
  --clr-loss: #ff5353;
  --clr-selection-gain: #1be1af;
  --clr-text-secondary: #848484;
  --clr-nav-bg: #24222d;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-menu-text);
  line-height: 1.6;
}

p {
  margin-top: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-selection-gain);
}

h1 small,
h2 small {
  color: var(--clr-text-secondary);
  font-size: large;
}

.home-avatar {
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 8px;
}

.main-content {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 50px;
}

.text-center {
  text-align: center;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.brand {
  font-weight: 500;
}
.nav li button.active {
  /* background-color: #4caf50; */
  border-top: 4px solid var(--clr-selection-gain);
  color: var(--clr-selection-gain);
}

.nav li button,
.nav li div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
  background-color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
}
